firmware/recorder/.settings/
firmware/recorder/Release/
firmware/recorder/.cproject
firmware/recorder/.project
firmware/recorder/spec.d
software/emulator/.idea/
software/emulator/__pycache__/
software/emulator/venv/
software/recorder/.idea/
software/recorder/__pycache__/
software/recorder/venv/
firmware/emulator/.settings/
firmware/emulator/.cproject
firmware/emulator/.gitignore
firmware/emulator/.project
firmware/emulator/spec.d
